@model CounterTexFront.Models.HorarioViewModel

@{
    ViewBag.Title = "Control de Horarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100" style="margin-top: -10% !important">
    <div class="card w-75">
        <div class="card-header text-center">
            <h3 class="mb-4" style="margin-bottom: 0% !important">Control de Horarios</h3>
        </div>

        <div class="card-body d-flex justify-content-center align-items-center">
            @using (Html.BeginForm("Welcome", "ControlHorarios", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fecha">Fecha</label>
                            @Html.TextBoxFor(m => m.Fecha, new { @class = "form-control", type = "date", required = "required" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="hora_entrada">Hora de Entrada</label>
                            @Html.TextBoxFor(m => m.HoraEntrada, new { @class = "form-control", type = "time", required = "required" })
                        </div>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="hora_salida">Hora de Salida</label>
                            @Html.TextBoxFor(m => m.HoraSalida, new { @class = "form-control", type = "time", required = "required" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="hora_descanso">Tiempo de Descanso (min)</label>
                            @Html.TextBoxFor(m => m.HoraDescanso, new { @class = "form-control", type = "number", placeholder = "Ej. 30", required = "required" })
                        </div>
                    </div>
                </div>

                <br />

                <div class="d-flex justify-content-center">
                    <input type="submit" id="guardarBtn" class="btn btn-primary" value="Guardar" />
                </div>
            }
        </div>
    </div>
</div>
