@model List<CounterTexFront.Models.PerfilEmpleadoViewModel>

@{
    Layout = ViewBag.Layout;
    var nombreUsuario = ViewBag.NombreUsuario ?? User.Identity.Name ?? "Empleado";
}

<h2>Bienvenido Empleado</h2>
<p> <strong>@nombreUsuario</strong></p>

@if (Model == null || !Model.Any())
{
    <p></p>
}
else
{
  
}
