﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter Tex</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image: url('../../images/fondo.jpg'); background-size: cover; background-position: center;">

    <div class="logo text-center my-4">
        <img src="~/images/logo1.png"
             alt="Counter Tex Logo"
             class="img-fluid"
             style="width: 180px" />
    </div>

    <div class="main-content text-center">
        <h1 class="text-white">Counter Tex</h1>
        <h2 class="text-white">Costuras precisas, Finanzas impecables</h2>
        <p class="text-white">
            Bienvenidos a CounterTex su página de confianza para gestionar el
            control de producción y las finanzas de su empresa
        </p>

        <div class="row justify-content-center mt-5">
            <div class="col-auto">
                <button class="btn btn-primary btn-lg" style="min-width: 150px;" onclick="window.location.href='@Url.Action("Login", "Login")'">
                    Iniciar Sesión
                </button>
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-secondary btn-lg" style="min-width: 150px;" onclick="window.location.href='@Url.Action("Registro", "Registro")'">
                    Registrarse
                </button>
            </div>
        </div>
    </div>

    <footer>
        <div class="social-media text-center my-4">
            <a href="#">
                <img src="~/Images/facebook.jpg"
                     alt="Facebook"
                     class="img-fluid"
                     style="width: 30px; height: 30px" />
            </a>
            <a href="#">
                <img src="~/Images/Instagram.png"
                     alt="Instagram"
                     class="img-fluid"
                     style="width: 30px; height: 30px" />
            </a>
            <a href="#">
                <img src="~/Images/google.png"
                     alt="Google"
                     class="img-fluid"
                     style="width: 30px; height: 30px" />
            </a>
            <a href="#">
                <img src="~/Images/descarga111.jpg"
                     alt="Contactanos"
                     class="img-fluid"
                     style="width: 30px; height: 30px" />
            </a>
            <br />
            <a href="mailto:countertex@gmail.com" class="text-white" style="text-align: center;">Contacto vía Email</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>